//import all arccorp vars
@use "~arccorp-vars/src/scss/main";

@import "./partials/base.module.scss";
@import "./partials/episodes.module.scss";
@import "./partials/episode.module.scss";

// page styles

// .tc2021-main {
//   .container {
//     max-width: 1400px;
//   }
//   .tc2021-header-container {
//     .container {
//       border-top: 1px solid #808080;
//     }
//   }
// }
.tc2021-main-v .tc2021-nav {
  max-width: 1400px;
}

.tc2021-main {
  .container {
    max-width: 1400px;
  }
}

// .tc2021-header-container {
//   padding: 0px 0px 240px;
//   .container {
//     border-top: 1px solid #808080;
//   }
// }

// .tc22-episode-box {
//   background: #000;
//   border: 1px solid #1fdcc8;
//   border-top: 20px solid #1fdcc8;
//   padding: 30px;
//   margin: 30px;
//   text-align: left;
// }

.tc-22-white {
  background: #fff !important;
}

.tc22-current-copy {
  padding: 0 60px;
}

.tc22-reachout {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "TheHand-Extra-Black", TheHand-Extra-Black, Arial, Helvetica,
    sans-serif;
}

.tc22-email-link {
  font-family: SourceSansPro-Regular, arial, sans-serif;
  vertical-align: text-bottom;
  margin-left: 1rem;
}

.tc22-episode-box {
  background: #000000;
  border: 1px solid #1fdcc8;
  border-top: 20px solid #1fdcc8;
  padding: 30px;
  margin: 30px;
  text-align: left;

  h2 {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif !important;
    font-weight: 600;
    text-transform: none;
    line-height: 1;
    font-size: 2.75rem;
    letter-spacing: 0 !important;
    margin-bottom: 1rem;
  }
  a.tc22-watchnow {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    color: #ffa619;
    font-size: 20px;
    text-transform: uppercase;
  }
}

a.tc22-link,
a.tc22-link:hover {
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  color: #ffa619;
  font-size: 20px;
  text-transform: uppercase;

  &.bold {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  }
}

.tc22-stats {
  padding: 160px 0;
}

.tc22-about {
  background: url("https://arctravelconnect.com/globalassets/Home2/2022/tc22-about-bg.png")
    center center no-repeat;
  background-size: cover;
  padding: 200px 0;
}

.tc22-about-box {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px;
  background: #000000;

  p {
    font-size: 20px;
    color: #ffffff;
    margin-top: 60px;
  }
}

.tc22-speaker-logo {
  padding-bottom: 30px;
}

footer .rtf .footer-rtf-links {
  margin: 0 0 0 0.3125rem;
  display: inline;
}

@media screen and (min-width: 960px) {
  footer .footer-inside .rtf {
    left: 0;
    text-align: center;
    width: 100%;
  }
}

.add-content {
  display: none;
}

@media screen and (max-width: 767.9px) {
  .tc22-email-link {
    display: block;
    font-size: 1.2rem;
  }

  .tc22-episode-box {
    margin: 30px 0 0 0;

    h2 {
      font-size: 25px;
      padding: 10px 0;
    }
  }

  .tc22-about-box {
    padding: 0;
  }

  .tc2021-nav a {
    display: block;
  }

  .tc2021-assistance-1,
  .tc2021-assistance-2,
  .tc2021-virtual-inner {
    padding: 20px 0;
  }
}

@media screen and (max-width: 990.99px) {
  .tc2021-main-v .tc2021-virtual-inner {
    max-width: 100%;
    padding: 15px;

    img {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
