.tc2021-main {
  .container {
    max-width: 1400px;
  }
  .tc2021-header-container {
    .container {
      border-top: 1px solid #808080;
    }
  }
}

.tc2021-nav a {
  display: block;
}

.tc2021-header-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tc2021-assistance-1,
.tc2021-assistance-2,
.tc2021-virtual-inner {
  padding: 20px 0;
}

@media screen and (max-width: 990.99px) {
  .tc2021-main-v .tc2021-virtual-inner {
    max-width: 100%;
    padding: 15px;

    img {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
