@use "~arccorp-vars/src/scss/partials/colors";

.travelconnect {
  background-color: colors.$black;
  color: colors.$white;
  margin-top: 0;
}

.footer-inside {
  min-height: 6.25rem;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.rtf {
    left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: calc(50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  p {
    display: inline;
    margin: 0;
    line-height: normal;
  }
  * {
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    display: inline;
    line-height: normal;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }

  .footer-rtf-links {
    margin: 0 0 0 5px;
    display: inline;
    a {
        color: #1fdcc8 !important;
        margin-right: 15px;

      }
  }
}
