@use "~arccorp-vars/src/scss/partials/colors";

.tc2020-episode-container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.tc2020-episode-list {
  max-width: 1370px;
}

.tc2020-episode-title {
  color: #000000;
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  max-width: 646px;
  margin: 60px auto;

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

.episode-num {
  color: #ffffff;
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  background: #1fdcc8;
  text-align: center;
  flex-direction: column;
  border-radius: 100%;
  max-height: 122px;
  max-width: 122px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  top: -65px;
  z-index: 2;
  position: absolute;
}

.episode-meta {
  display: flex;
  justify-content: center;
  vertical-align: top;
  height: 100%;
  padding: 10px 30px;
  border-top: 2px solid rgb(185, 185, 185);
  border-bottom: 2px solid rgb(185, 185, 185);
  flex-direction: column;
}

.episode-sort {
  color: #000000;
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 120px;
  max-width: 1170px;
  font-size: 0.875rem;
  margin: 0 auto 20px auto;
}

select.episode-filter {
  max-width: 425px;
  max-height: 42px;
  margin-left: 10px !important;
  border: 1px solid #bcbec0;
  width: 100%;
  height: 2.375rem;
  padding: 0.5rem;
  margin: 0 0 1rem;
  font-size: 0.9375rem;
  font-family: inherit;
  line-height: normal;
  color: #6d6e71;
  background-color: #fff;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%2874, 74, 74%29"></polygon></svg>');
  background-size: 9px 6px;
  background-position: right center;
  background-origin: content-box;
  background-repeat: no-repeat;
  outline: none; //removes blue outline when focussed
}

.episode-meta img {
  width: 40px;
  margin-right: 20px;
}

.episode-inner {
  background: #000000;
  padding: 60px 50px 0px;
  display: flex;
  justify-content: center;
  vertical-align: top;
  min-height: 461px;
  height: 100%;
  flex-direction: column;
  font-size: 1.35rem;
  text-align: center;
  color: #ffffff;
}

.episode-name {
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.episode-button {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  height: 100%;
}

.episode-button a.ctaBtn {
  font-family: "SourceSansPro-Bold";
  background: #fd9d26;
  font-size: 0.875rem;
  text-transform: uppercase;
  border-radius: 0;
  border-color: #ffffff;
  margin: 2px;
  border-width: 1px;
  margin-top: 0px;
  padding: 1rem 1.875rem;
  display: inline-block;
  min-height: 3.3125rem;
  line-height: normal;
  outline: 0;
  width: 148px;
}
.episode-button a.ctaBtn:hover {
  background: #fd9c26de;
  margin-top: 0px;
}

.dot {
  background-color: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.episode-date,
.episode-tags {
  padding-bottom: 30px;
  color: #ffffff;
  font-size: 1.25rem;
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
}

.tc2020-episode {
  border: 2px solid #bcbec0;
  padding: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tc2020-episode-more {
  color: #000000;
  text-transform: uppercase;
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  font-size: 1.35rem;
  text-align: center;
  max-width: 1170px;
  padding: 100px 15px;
  border: 2px solid rgb(185, 185, 185);
  max-width: 1170px;
  margin: 0 auto;
}
