@use "~arccorp-vars/src/scss/main";

html {
  scroll-behavior: smooth;
}

body a {
  color: main.$white;
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
.jumbotron--image .block-header {
  font-family: "Source Sans Pro", arial, sans-serif !important;
  font-weight: 300;
}

.usa-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 60px;
}
.usa-embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}