html {
  scroll-behavior: smooth;
}

body a {
  color: #ffffff;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
.jumbotron--image .block-header {
  font-family: "Source Sans Pro", arial, sans-serif !important;
  font-weight: 300;
}