.tc2020-article-top {
  background: #000000;
  color: #ffffff;
}

.tc2020-article-container {
  background: #000000;
  max-width: 1340px;
  border-top: 1px solid #808080;
  padding: 60px 15px 90px;
  margin: 30px auto 0px auto;
}

.tc2020-article-number {
  text-align: center;
  font-family: SourceSansPro-Bold, arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.tc2020-article-number:after {
  margin-top: 15px;
  width: 50px;
  height: 4px;
  background: #58d7c9;
  content: "";
  bottom: 0;
  display: block;
  margin: 15px auto;
}

.tc2020-article-subtitle {
  font-family: SourceSansPro-Light, "Source Sans Pro", arial, sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
  text-align: center;
  color: #1fdcc8;
}

.tc2020-article-title {
  font-family: SourceSansPro-Black, arial, sans-serif;
  font-size: 3rem;
  text-align: center;
}

.tc2020-article-logos {
  background: #202020;
  padding: 40px 0;
  text-align: center;
}

.tc2020-article-logos-title {
  font-family: SourceSansPro-Light, "Source Sans Pro", arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  color: #1fdcc8;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.tc2020-article-logos img {
  width: 200px;
  padding: 15px;
}

.tc2020-article-meta {
  max-width: 615px;
  margin: 0 auto;
}

.tc2020-article-meta img {
  width: 40px;
  margin-right: 20px;
}

.tc2020-article-date,
.tc2020-article-time {
  font-family: SourceSansPro-Bold, arial, sans-serif;
  font-size: 1.35rem;
  border: 2px solid rgb(73, 73, 73);
  padding: 20px;
  text-align: center;
  margin: 5px;
}

.tc2020-article-register {
  text-align: center;
  margin-top: 25px;
}

a.ctaBtn,
a.ctaBtn:hover,
a.ctaBtn:focus {
  background: #fd9d26;
  border-radius: 0;
  border-color: #ffffff;
  margin: 2px;
  padding-left: 2rem;
  padding-right: 2rem;
  border-width: 1px;
  margin-top: 20px;
}

.tc2020-article-conent {
  max-width: 960px;
  margin: 0px auto;
  padding-top: 60px;
  padding-bottom: 200px;
  font-family: SourceSansPro-Regular, arial, sans-serif;
}

.tc2020-article-conent p {
  line-height: 1.5 !important;
}

.usa-embed-container {
  position: relative;

  padding-bottom: 56.25%; /* set the aspect ratio here as (height / width) * 100% */

  height: 0;

  overflow: hidden;

  max-width: 100%;

  margin-bottom: 60px;
}

.usa-embed-container iframe {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;
}

.tc2020-article-date2 {
  text-align: center;
  font-family: SourceSansPro-Light, "Source Sans Pro", arial, sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.tc2020-article-time2 {
  text-align: center;
  font-family: SourceSansPro-Light, "Source Sans Pro", arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
}

.tc2020-article-episode2 {
  text-align: center;
  font-family: SourceSansPro-Bold, arial, sans-serif;
  font-size: 100px;
  margin: 30px 0;
  line-height: 1;
}

.tc2020-article-episode2 img {
  width: 300px;
  margin-right: 10px;
}

.about-title {
  font-family: "TheHand-Extra-Black", TheHand-Extra-Black, Arial, Helvetica,
    sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

img.tc2020-speaker-svg {
  width: 300px;
  margin: 60px auto;
  display: block;
}

.tc2020-speaker-box {
  height: 300px;
  width: 300px;
  border: 4px solid #1fdcc8;
  padding: 5px;
  margin-bottom: 20px;
}

.tc2020-article-speakers {
  max-width: 960px;
  margin: 0 auto;
}

.tc2020-speaker-details {
  margin-bottom: 60px;
  color: #000000;
  text-align: center;
  font-size: 1rem;
}

.tc2020-speaker-name {
  font-family: SourceSansPro-Bold, "SourceSansPro-Bold", arial, sans-serif;
  font-size: 1.5rem;
}

.tc22-speaker-titles {
  padding-bottom: 10px;
  border-bottom: 2px solid #1fdcc8;
}

.tc22-episode-detail, .tc22-episode-detail a {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  color: #202020;
  padding-top: 15px;
  padding-bottom: 60px;
  i {
    color: #fd9d26;
  }
}
